*,
*::after,
*::before  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
 height: 100vh;
  width: 100%;
  background: #84CEEB;
}

html {
  font-size: 62.5%;
}

body {
  font-family:"Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

td {
  text-align:center;
}

table {
  width: 50%;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  background-color: #4CAF50;
  color: white;
}

th, td{
  padding: 15px;
  text-align: left;
}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
}

.align-center{
  align-items: center;
  padding: 0;
}

.space-around{
  justify-content: space-around;
}

.space-between {
  justify-content: space-between
}

.end {
  justify-content: flex-end;
}

.opacity {
  opacity: 0.7;
}

.cursor{
  cursor:pointer;
}

.layout{
  position: absolute;
  top: 0;
  background: #5680e9;
  width: 100%;
  height: 6rem;
  z-index: 100;
}

.full-height {
  height: 100%;
}

li.nav-item{
  color: #ffff;
  font-size: 3rem;
  cursor:pointer;
}

.margin-sm {
  margin: 0.5rem;
}

.margin-r-sm {
  margin-right: 1rem;
}

.nav-item:hover {
  box-shadow: inset 0 0 10rem 10rem rgba(255, 255, 255, 0.3);
}


.nav-item-active {
  padding-top: .5rem;
  border-bottom: .5rem solid #fff;
}

.nav-item-inactive:hover {
  padding-top: .5rem;
  border-bottom: .5rem solid #8860D0;
}

.navtab {
  margin-left: 3rem;
  cursor: pointer;
  
}

.logo {
  color: #ffff;
  font-size: 3rem;
}

.timerlist {
  width: 100%;
  height: 100%;
  margin-top: 6rem;
  padding-top: 1.5rem;
  background: #84CEEB;
  
  display: grid;
  grid-template-columns: 0.5fr  repeat(10, [col-start] 1fr [col-end]) 0.5fr;
}

.timerGrid {
  grid-column: col-start 1 / col-end 10; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30rem,1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.add-btn {
  background-color: #DEEDFE;
  border: none;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  outline:none;
  width: 15rem;
  height: 15rem;
  transition: 0.5s ease;
}

.page-mask{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form{
  position: relative;
  width: 90%;
  height: 85%;
  border-radius: 25px;
  background-color: #DEEDFE;
}

.form-outer{
  width: 50%;
  height: 50%;
  position: fixed;
  width: 60%;
  height: 60%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  top: 20%;
  border-radius: 25px;
  background-color: #5aa3d9;
}

.form-input{
  width: 30%;
  width: 50%;
  display: flex;
  flex-direction: column;

}

.cancel-form{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border:none;
  outline:none;
}

.timer-container {
  min-height: 30rem;
  min-width: 30em;
  background-image: linear-gradient(to bottom right, #99cff7, #6cbbf6);
  border-radius: 2.5rem;
  opacity: 0.9;
  margin: 1rem;
  transition: 0.5s ease;
  box-shadow: 0 .8rem 1.5rem rgba(0, 0, 0, 0.1);
}

.labels{
  padding-left: 3rem;
  font-size: 3rem;
  font-weight: 70rem;
  color: #fff;
}

.editable-btn {
  background-color: transparent;
  border:none;
  outline: none;
  visibility: hidden;
}

.delete-btn-container{
  position: absolute;
  right: 0;
  top: 0;
 }

 .delete-timer-btn{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  outline:none;
  visibility: hidden;
  padding-top: .2rem;
  margin-right: .7rem;
  margin-top: .5rem;
  width: 3rem;
  height: 3rem;
}

.time-btn{
  background-color: #3493d9;
  border: none;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-right: .5rem;
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  outline:none;
  width: 4rem;
  height: 4rem;
  transform: translateY(3rem);
  box-shadow: 0px 8px 15px rgba(108,187,246, 0.4);
}

.timer-container:hover .delete-timer-btn{
  visibility: visible;
}

.hover-scale:hover {
  transform: scale(1.04);
}

.label-container:hover .editable-btn{
  visibility: visible;
}

.collapse {
 padding: 0px;
  width: 100%;
  overflow: hidden;
  transition: .5s ease;
  
}

.timerData {
  background: #468dc9;
}

.timerHistory {
  background: #5AA3DD;
}

.timerDataTable {
  height: 50%;
  width: 100%;
  margin-top: 1rem;
  overflow:hidden;
}

.analyticsContainer {
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}

.timerTable {
  width: 100%;
}

.dropdown-btn {
  height: 100%;
  cursor: pointer;
  color: #ffff;
  font-size: 3rem;
  padding-left: 2rem;
}

.dropdown-btn:hover {
  box-shadow: inset -9rem 0 0 0 rgba(255, 255, 255, 0.3);
}

.circle {
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  height: 4rem;
  width: 4rem;
}
.initials {
  font-size: 2rem;
  line-height: 2;
  position: relative;
  top: 1rem;  
}

.expand{
  margin-top: 2rem;
  margin-right: 1rem;
  color:'#fefefe';
}

.expand-arrow-down {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}
.expand-arrow-up {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}

.dropdown {
  position: absolute;
  right: 0;
  display: inline-block;
  height: 100%;
  width: 
}

.dropdown-content {
  position: relative;
  background-color: #5AA3DD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-profile{
  background:#365fc7;
  color: #ffff;
  font-size: 3rem;
}